@{
    ViewBag.Title = "Historico";
    Layout = "~/Views/Shared/_LayoutRelatorios.cshtml";
}

<section class="corpo-historico">
    <header class="cabeca">
        <section>
            <div class="Cabecalho-esquerdo">

                <img src="~/Content/imagens/relatorios/historico/timbre-republica-brasil.jpeg" alt="Timbre Republica" />
            </div>
            <div class="Cabecalho-centro">
                ESCOLA MUNICIPAL CLÓVIS ARAÚJO DIAS<br/>(Nome do Estabelecimento)<br/>
                RESOLUÇÃO Nº 8699/98 DE 10/02/1998<br/>(Situação Legal)<br/>
                POVOADO DO SÃO LUIZ<br/>(Endereço)<br/>
                MACHADO  CEP MG<br />
                (Município) 37750-000 (Estado)

            </div>
            <div class="Cabecalho-direito">
                <img src="~/Content/imagens/relatorios/historico/timbre-estado-minas.jpg" alt="Timbre Estado" />
            </div>
        </section>
    </header>
    <section class="sub-cabeca">
        <header class="sub-cabeca-titulo">CERTIFICADO DE CONCLUSÃO DA EDUCAÇÃO BÁSICA</header>
        <section class="sub-cabeca-corpo">
            Certificamos que <span>*@ViewBag.Nome*</span> natural de <span>*@ViewBag.Naturalidade*</span>
            UF <span>*@ViewBag.UFNaturalidade*</span> de nacionalidade <span>*@ViewBag.Nacionalidade*</span> do sexo <span>*@ViewBag.Sexo*</span> nascido(a) em <span>*@ViewBag.DataNascimento*</span>
            filho(a) de <span>*@ViewBag.Pai*</span> e <span>*@ViewBag.Mae*</span>.<br />
            Carteira de identidade nº <span>*@ViewBag.Rg*</span> Orgão expedidor/Estado: <span>*@ViewBag.Orgao / @ViewBag.UfRg*</span> concluiu em <span>*@ViewBag.DateHistorico*</span><br />
            <span>*TURMA* DO CLICLO COMPLEMENTAR DE ALFABETIZAÇÃO</span> do ensino <span>*FUNDAMENTAL*</span> , conforme Histórico Escolar e observações no anverso e verso.
        <br />
            <br />
            Fundamentação legal: RESOLUÇÃO CNE/CEB Nº 07 DE 14/12/2010, LDBEN n.° 9394/96. de 23/12/1996
        </section>
        <br />
        <section>
            <div class="sub-cabeca-corpo-esquerdo">
                
                <span class="assinatura-historico"> Assinatura do(a) Secretário(a) nº reg. ou aut.</span><br />
                *Maria Arleia Moraes Carvalho**258906*
            </div>
            <div class="sub-cabeca-corpo-centro">
                <span>MACHADO, *@ViewBag.DateHistorico*</span><br />
                Municipio e data de expedição
            </div>
            <div class="sub-cabeca-corpo-direito">
                
                <span class="assinatura-historico">Assinatura do(a) Secretário(a) nº reg. ou aut.</span><br />
                *Katia Maria da Silva* - *416775*
            </div>
        </section>
    </section>
</section>
<section class="dados-historico">
    <header class="sub-cabeca-historico-escolar">HISTÓRICO ESCOLAR – ENSINO FUNDAMENTAL</header>
    <div class="barra barra-escura"></div>
    <div class="barra barra-titulo-base-nacional">BASE NACIONAL COMUM</div>
    <div class="barra barra-parte-diversificada">PARTE DIVERSIFICADA</div>
    <div class="barra barra-projeto-integral">PROJETO TEMPO INTEGRAL</div>
    <div class="barra barra-areas-conhecimento">AREAS DE CONHECIMENTO</div>
    <div class="barra barra-observacoes">
        O Ensino Fundamental com duração de nove anos, organizado nos cinco anos iniciais em Ciclos e nos quatro anos finais em anos de escolaridade, conforme LDBEN n.º 9394/96, Parecer CEE n.º 1132/97 e 1158/98 e Resolução SEE/MG n.º 469/03,  a saber:
        <br />
        CICLO INICIAL DE ALFABETIZAÇÃO - Fase Introdutória, Fase I e  Fase II 
        <br />
        CICLO COMPLEMENTAR DE ALFABETIZAÇÃO - Fase III, e Fase IV 
Em 2008 vigora a Resolução SEE nº 1.086/2008: 
        <br />
        CICLO DA  ALFABETIZAÇÃO: 1º ano, 2º ano e 3º ano
        <br />
        CICLO COMPLEMENTAR:  4º ano e 5º ano
Referencial para preenchimento da avaliação de desempenho:
A (Excelente) - alcançou com êxito os objetivos de estudo.
B (Bom) - alcançou satisfatoriamente os objetivos de estudo
C (Regular) - alcançou parcialmente os objetivos de estudo.
        <br />
        OBSERVAÇÕES: 



    </div>

    <div class="barra barra-rotacionada barra-portugues">Língua Portuguesa</div>
    <div class="barra barra-rotacionada barra-matematica">Matemática</div>
    <div class="barra barra-rotacionada barra-geografia">Geografia</div>
    <div class="barra barra-rotacionada barra-historia">História</div>
    <div class="barra barra-rotacionada barra-ciencias">Ciências</div>
    <div class="barra barra-rotacionada barra-edu-fisica">Educação Física</div>
    <div class="barra barra-rotacionada barra-ensino-religioso">Ensino Religioso</div>
    <div class="barra barra-rotacionada barra-arte">Arte</div>
    <div class="barra barra-rotacionada barra-informatica">Informática</div>
    <div class="barra barra-rotacionada barra-literatura-inf-juvenil">Literatura Infantil Juvenil</div>
    <div class="barra barra-rotacionada barra-atv-linguagem-matematica">Atividades de Linguagem/Matemática</div>
    <div class="barra barra-rotacionada barra-atv-esportiva-motora">Atividades Espotivas e Motoras</div>
    <div class="barra barra-rotacionada barra-formacao-pessoal-social">Formação Pessoal e Social</div>
    <div class="barra barra-rotacionada barra-total-ch-curricular">Total CH Curricular</div>
    <div class="barra barra-rotacionada barra-faltas-horas">Faltas / Horas</div>
    <div class="barra barra-rotacionada barra-situacao-aluno">Situação do Aluno</div>


    <div class="barra barra-rotacionada barra-ciclo-inicial-alfabetizacao">Clico Inicial de Alfabetização</div>
    <div class="barra barra-rotacionada barra-ciclo-complementar-alfabetizacao">Clico Complementar de Alfabetização</div>
    <div class="barra barra-rotacionada barra-fase-introdutoria">Fase Introdutoria</div>
    <div class="barra barra-rotacionada barra-fase-1">Fase I</div>
    <div class="barra barra-rotacionada barra-fase-2">Fase II</div>
    <div class="barra barra-rotacionada barra-fase-3">Fase III</div>
    <div class="barra barra-rotacionada barra-fase-4">Fase IV</div>
    <div class="barra barra-rotacionada barra-ciclo-da-alfabetizacao">Clico da Alfabetização</div>
    <div class="barra barra-rotacionada barra-ciclo-complementar">Clico Complementar</div>



    <div class="barra barra-rotacionada barra-primeiro-ano">1º Ano</div>
    <div class="barra barra-primeiro-ano-aproveitamento">Aproveitamento</div>
    <div class="barra barra-primeiro-ano-ch-curricular">Ch. Curricular</div>
    <div class="barra barra-primeiro-ano-faltas-horas">Fatas/Horas</div>
    <div class="barra conceito barra-primeiro-ano-conceito-portugues">@ViewBag.Ano1AprovPortugues</div>
    <div class="barra conceito barra-primeiro-ano-conceito-matematica">@ViewBag.Ano1AprovMatematica</div>
    <div class="barra conceito barra-primeiro-ano-conceito-geografia">@ViewBag.Ano1AprovGeografia</div>
    <div class="barra conceito barra-primeiro-ano-conceito-historia">@ViewBag.Ano1AprovHistoria</div>
    <div class="barra conceito barra-primeiro-ano-conceito-ciencias">@ViewBag.Ano1AprovCiencia</div>
    <div class="barra conceito barra-primeiro-ano-conceito-edu-fisica">@ViewBag.Ano1AprovEduFisica</div>
    <div class="barra conceito barra-primeiro-ano-conceito-ensino-religioso">@ViewBag.Ano1AprovEnsReligioso</div>
    <div class="barra conceito barra-primeiro-ano-conceito-arte">@ViewBag.Ano1AprovArte</div>
    <div class="barra conceito barra-primeiro-ano-conceito-informatica">@ViewBag.Ano1AprovInformatica</div>
    <div class="barra conceito barra-primeiro-ano-conceito-literatura-inf-juvenil">@ViewBag.Ano1AprovLitInfantilJuvenil</div>
    <div class="barra conceito barra-primeiro-ano-conceito-atv-linguagem-matematica">@ViewBag.Ano1AprovAtividadeLingMat</div>
    <div class="barra conceito barra-primeiro-ano-conceito-atv-esportiva-motora">@ViewBag.Ano1AprovAtividadesEspMot</div>
    <div class="barra conceito barra-primeiro-ano-conceito-formacao-pessoal-social">@ViewBag.Ano1AprovFormacaoPessoal</div>
    <div class="barra barra-primeiro-ano-valor-ch-curricular-basica">@ViewBag.Ano1ChCurricularBasica</div>
    <div class="barra barra-primeiro-ano-ch-curricular-arte">@ViewBag.Ano1ChCurricularArtes</div>
    <div class="barra barra-primeiro-ano-ch-curricular-informatica">@ViewBag.Ano1ChCurricularInformatica</div>
    <div class="barra barra-primeiro-ano-ch-curricular-literatura-inf-juvenil">@ViewBag.Ano1ChCurricularLitInfantoJuvenil</div>
    <div class="barra barra-primeiro-ano-ch-curricular-projeto-tempo-integral">@ViewBag.Ano1ChCurricularProjetoTempoIntegral</div>
    <div class="barra barra-primeiro-ano-valor-falta-horas-base-nacional-comum">@ViewBag.Ano1QtdFaltaHoraAnoBasica</div>
    <div class="barra barra-primeiro-ano-valor-falta-horas-parte-diversificada">@ViewBag.Ano1QtdFaltaHoraAnoParte</div>
    <div class="barra barra-primeiro-ano-valor-falta-horas-projeto-tempo-integral">@ViewBag.Ano1QtdFaltaHoraAnoProjeto</div>
    <div class="barra barra-rotacionada barra-primeiro-ano-valor-total-ch-curricular">@ViewBag.Ano1Totalchcurricular</div>
    <div class="barra barra-rotacionada barra-primeiro-ano-valor-total-faltas-horas">@ViewBag.Ano1TotalFaltasHoras</div>
    <div class="barra barra-rotacionada barra-primeiro-ano-valor-total-situacao-aluno">@ViewBag.Ano1SituacaoAluno</div>


    <div class="barra barra-rotacionada barra-segundo-ano">2º Ano</div>
    <div class="barra barra-segundo-ano-aproveitamento">Aproveitamento</div>
    <div class="barra barra-segundo-ano-ch-curricular">Ch. Curricular</div>
    <div class="barra barra-segundo-ano-faltas-horas">Fatas/Horas</div>
    <div class="barra conceito barra-segundo-ano-conceito-portugues">@ViewBag.Ano2AprovPortugues</div>
    <div class="barra conceito barra-segundo-ano-conceito-matematica">@ViewBag.Ano2AprovMatematica</div>
    <div class="barra conceito barra-segundo-ano-conceito-geografia">@ViewBag.Ano2AprovGeografia</div>
    <div class="barra conceito barra-segundo-ano-conceito-historia">@ViewBag.Ano2AprovHistoria</div>
    <div class="barra conceito barra-segundo-ano-conceito-ciencias">@ViewBag.Ano2AprovCiencia</div>
    <div class="barra conceito barra-segundo-ano-conceito-edu-fisica">@ViewBag.Ano2AprovEduFisica</div>
    <div class="barra conceito barra-segundo-ano-conceito-ensino-religioso">@ViewBag.Ano2AprovEnsReligioso</div>
    <div class="barra conceito barra-segundo-ano-conceito-arte">@ViewBag.Ano2AprovArte</div>
    <div class="barra conceito barra-segundo-ano-conceito-informatica">@ViewBag.Ano2AprovInformatica</div>
    <div class="barra conceito barra-segundo-ano-conceito-literatura-inf-juvenil">@ViewBag.Ano2AprovLitInfantilJuvenil</div>
    <div class="barra conceito barra-segundo-ano-conceito-atv-linguagem-matematica">@ViewBag.Ano2AprovAtividadeLingMat</div>
    <div class="barra conceito barra-segundo-ano-conceito-atv-esportiva-motora">@ViewBag.Ano2AprovAtividadesEspMot</div>
    <div class="barra conceito barra-segundo-ano-conceito-formacao-pessoal-social">@ViewBag.Ano2AprovFormacaoPessoal</div>
    <div class="barra barra-segundo-ano-valor-ch-curricular-basica">@ViewBag.Ano2ChCurricularBasica</div>
    <div class="barra barra-segundo-ano-ch-curricular-arte">@ViewBag.Ano2ChCurricularArtes</div>
    <div class="barra barra-segundo-ano-ch-curricular-informatica">@ViewBag.Ano2ChCurricularInformatica</div>
    <div class="barra barra-segundo-ano-ch-curricular-literatura-inf-juvenil">@ViewBag.Ano2ChCurricularLitInfantoJuvenil</div>
    <div class="barra barra-segundo-ano-ch-curricular-projeto-tempo-integral">@ViewBag.Ano2ChCurricularProjetoTempoIntegral</div>
    <div class="barra barra-segundo-ano-valor-falta-horas-base-nacional-comum">@ViewBag.Ano2QtdFaltaHoraAnoBasica</div>
    <div class="barra barra-segundo-ano-valor-falta-horas-parte-diversificada">@ViewBag.Ano2QtdFaltaHoraAnoParte</div>
    <div class="barra barra-segundo-ano-valor-falta-horas-projeto-tempo-integral">@ViewBag.Ano2QtdFaltaHoraAnoProjeto</div>
    <div class="barra barra-rotacionada barra-segundo-ano-valor-total-ch-curricular">@ViewBag.Ano2Totalchcurricular</div>
    <div class="barra barra-rotacionada barra-segundo-ano-valor-total-faltas-horas">@ViewBag.Ano2TotalFaltasHoras</div>
    <div class="barra barra-rotacionada barra-segundo-ano-valor-total-situacao-aluno">@ViewBag.Ano2SituacaoAluno</div>

    <div class="barra barra-rotacionada barra-terceiro-ano">3º Ano</div>
    <div class="barra barra-terceiro-ano-aproveitamento">Aproveitamento</div>
    <div class="barra barra-terceiro-ano-ch-curricular">Ch. Curricular</div>
    <div class="barra barra-terceiro-ano-faltas-horas">Fatas/Horas</div>
    <div class="barra conceito barra-terceiro-ano-conceito-portugues">@ViewBag.Ano3AprovPortugues</div>
    <div class="barra conceito barra-terceiro-ano-conceito-matematica">@ViewBag.Ano3AprovMatematica</div>
    <div class="barra conceito barra-terceiro-ano-conceito-geografia">@ViewBag.Ano3AprovGeografia</div>
    <div class="barra conceito barra-terceiro-ano-conceito-historia">@ViewBag.Ano3AprovHistoria</div>
    <div class="barra conceito barra-terceiro-ano-conceito-ciencias">@ViewBag.Ano3AprovCiencia</div>
    <div class="barra conceito barra-terceiro-ano-conceito-edu-fisica">@ViewBag.Ano3AprovEduFisica</div>
    <div class="barra conceito barra-terceiro-ano-conceito-ensino-religioso">@ViewBag.Ano3AprovEnsReligioso</div>
    <div class="barra conceito barra-terceiro-ano-conceito-arte">@ViewBag.Ano3AprovArte</div>
    <div class="barra conceito barra-terceiro-ano-conceito-informatica">@ViewBag.Ano3AprovInformatica</div>
    <div class="barra conceito barra-terceiro-ano-conceito-literatura-inf-juvenil">@ViewBag.Ano3AprovLitInfantilJuvenil</div>
    <div class="barra conceito barra-terceiro-ano-conceito-atv-linguagem-matematica">@ViewBag.Ano3AprovAtividadeLingMat</div>
    <div class="barra conceito barra-terceiro-ano-conceito-atv-esportiva-motora">@ViewBag.Ano3AprovAtividadesEspMot</div>
    <div class="barra conceito barra-terceiro-ano-conceito-formacao-pessoal-social">@ViewBag.Ano3AprovFormacaoPessoal</div>
    <div class="barra barra-terceiro-ano-valor-ch-curricular-basica">@ViewBag.Ano3ChCurricularBasica</div>
    <div class="barra barra-terceiro-ano-ch-curricular-arte">@ViewBag.Ano3ChCurricularArtes</div>
    <div class="barra barra-terceiro-ano-ch-curricular-informatica">@ViewBag.Ano3ChCurricularInformatica</div>
    <div class="barra barra-terceiro-ano-ch-curricular-literatura-inf-juvenil">@ViewBag.Ano3ChCurricularLitInfantoJuvenil</div>
    <div class="barra barra-terceiro-ano-ch-curricular-projeto-tempo-integral">@ViewBag.Ano3ChCurricularProjetoTempoIntegral</div>
    <div class="barra barra-terceiro-ano-valor-falta-horas-base-nacional-comum">@ViewBag.Ano3QtdFaltaHoraAnoBasica</div>
    <div class="barra barra-terceiro-ano-valor-falta-horas-parte-diversificada">@ViewBag.Ano3QtdFaltaHoraAnoParte</div>
    <div class="barra barra-terceiro-ano-valor-falta-horas-projeto-tempo-integral">@ViewBag.Ano3QtdFaltaHoraAnoProjeto</div>
    <div class="barra barra-rotacionada barra-terceiro-ano-valor-total-ch-curricular">@ViewBag.Ano3Totalchcurricular</div>
    <div class="barra barra-rotacionada barra-terceiro-ano-valor-total-faltas-horas">@ViewBag.Ano3TotalFaltasHoras</div>
    <div class="barra barra-rotacionada barra-terceiro-ano-valor-total-situacao-aluno">@ViewBag.Ano3SituacaoAluno</div>





    <div class="barra barra-rotacionada barra-quarto-ano">4º Ano</div>
    <div class="barra barra-quarto-ano-aproveitamento">Aproveitamento</div>
    <div class="barra barra-quarto-ano-ch-curricular">Ch. Curricular</div>
    <div class="barra barra-quarto-ano-faltas-horas">Fatas/Horas</div>
    <div class="barra conceito barra-quarto-ano-conceito-portugues">@ViewBag.Ano4AprovPortugues</div>
    <div class="barra conceito barra-quarto-ano-conceito-matematica">@ViewBag.Ano4AprovMatematica</div>
    <div class="barra conceito barra-quarto-ano-conceito-geografia">@ViewBag.Ano4AprovGeografia</div>
    <div class="barra conceito barra-quarto-ano-conceito-historia">@ViewBag.Ano4AprovHistoria</div>
    <div class="barra conceito barra-quarto-ano-conceito-ciencias">@ViewBag.Ano4AprovCiencia</div>
    <div class="barra conceito barra-quarto-ano-conceito-edu-fisica">@ViewBag.Ano4AprovEduFisica</div>
    <div class="barra conceito barra-quarto-ano-conceito-ensino-religioso">@ViewBag.Ano4AprovEnsReligioso</div>
    <div class="barra conceito barra-quarto-ano-conceito-arte">@ViewBag.Ano4AprovArte</div>
    <div class="barra conceito barra-quarto-ano-conceito-informatica">@ViewBag.Ano4AprovInformatica</div>
    <div class="barra conceito barra-quarto-ano-conceito-literatura-inf-juvenil">@ViewBag.Ano4AprovLitInfantilJuvenil</div>
    <div class="barra conceito barra-quarto-ano-conceito-atv-linguagem-matematica">@ViewBag.Ano4AprovAtividadeLingMat</div>
    <div class="barra conceito barra-quarto-ano-conceito-atv-esportiva-motora">@ViewBag.Ano4AprovAtividadesEspMot</div>
    <div class="barra conceito barra-quarto-ano-conceito-formacao-pessoal-social">@ViewBag.Ano4AprovFormacaoPessoal</div>
    <div class="barra barra-quarto-ano-valor-ch-curricular-basica">@ViewBag.Ano4ChCurricularBasica</div>
    <div class="barra barra-quarto-ano-ch-curricular-arte">@ViewBag.Ano4ChCurricularArtes</div>
    <div class="barra barra-quarto-ano-ch-curricular-informatica">@ViewBag.Ano4AprovInformatica</div>
    <div class="barra barra-quarto-ano-ch-curricular-literatura-inf-juvenil">@ViewBag.Ano4ChCurricularLitInfantoJuvenil</div>
    <div class="barra barra-quarto-ano-ch-curricular-projeto-tempo-integral">@ViewBag.Ano4ChCurricularProjetoTempoIntegral</div>
    <div class="barra barra-quarto-ano-valor-falta-horas-base-nacional-comum">@ViewBag.Ano4QtdFaltaHoraAnoBasica</div>
    <div class="barra barra-quarto-ano-valor-falta-horas-parte-diversificada">@ViewBag.Ano4QtdFaltaHoraAnoParte</div>
    <div class="barra barra-quarto-ano-valor-falta-horas-projeto-tempo-integral">@ViewBag.Ano4QtdFaltaHoraAnoProjeto</div>
    <div class="barra barra-rotacionada barra-quarto-ano-valor-total-ch-curricular">@ViewBag.Ano4Totalchcurricular</div>
    <div class="barra barra-rotacionada barra-quarto-ano-valor-total-faltas-horas">@ViewBag.Ano4TotalFaltasHoras</div>
    <div class="barra barra-rotacionada barra-quarto-ano-valor-total-situacao-aluno">@ViewBag.Ano4SituacaoAluno</div>



    <div class="barra barra-rotacionada barra-quinta-ano">5º Ano</div>
    <div class="barra barra-quinta-ano-aproveitamento">Aproveitamento</div>
    <div class="barra barra-quinta-ano-ch-curricular">Ch. Curricular</div>
    <div class="barra barra-quinta-ano-faltas-horas">Fatas/Horas</div>
    <div class="barra conceito barra-quinta-ano-conceito-portugues">@ViewBag.Ano5AprovPortugues</div>
    <div class="barra conceito barra-quinta-ano-conceito-matematica">@ViewBag.Ano5AprovMatematica</div>
    <div class="barra conceito barra-quinta-ano-conceito-geografia">@ViewBag.Ano5AprovGeografia</div>
    <div class="barra conceito barra-quinta-ano-conceito-historia">@ViewBag.Ano5AprovHistoria</div>
    <div class="barra conceito barra-quinta-ano-conceito-ciencias">@ViewBag.Ano5AprovCiencia</div>
    <div class="barra conceito barra-quinta-ano-conceito-edu-fisica">@ViewBag.Ano5AprovEduFisica</div>
    <div class="barra conceito barra-quinta-ano-conceito-ensino-religioso">@ViewBag.Ano5AprovEnsReligioso</div>
    <div class="barra conceito barra-quinta-ano-conceito-arte">@ViewBag.Ano5AprovArte</div>
    <div class="barra conceito barra-quinta-ano-conceito-informatica">@ViewBag.Ano5AprovInformatica</div>
    <div class="barra conceito barra-quinta-ano-conceito-literatura-inf-juvenil">@ViewBag.Ano5AprovLitInfantilJuvenil</div>
    <div class="barra conceito barra-quinta-ano-conceito-atv-linguagem-matematica">@ViewBag.Ano5AprovAtividadeLingMat</div>
    <div class="barra conceito barra-quinta-ano-conceito-atv-esportiva-motora">@ViewBag.Ano5AprovAtividadesEspMot</div>
    <div class="barra conceito barra-quinta-ano-conceito-formacao-pessoal-social">@ViewBag.Ano5AprovFormacaoPessoal</div>
    <div class="barra barra-quinta-ano-valor-ch-curricular-basica">@ViewBag.Ano5ChCurricularBasica</div>
    <div class="barra barra-quinta-ano-ch-curricular-arte">@ViewBag.Ano5ChCurricularArtes</div>
    <div class="barra barra-quinta-ano-ch-curricular-informatica">@ViewBag.Ano5AprovInformatica</div>
    <div class="barra barra-quinta-ano-ch-curricular-literatura-inf-juvenil">@ViewBag.Ano5ChCurricularLitInfantoJuvenil</div>
    <div class="barra barra-quinta-ano-ch-curricular-projeto-tempo-integral">@ViewBag.Ano5ChCurricularProjetoTempoIntegral</div>
    <div class="barra barra-quinta-ano-valor-falta-horas-base-nacional-comum">@ViewBag.Ano5QtdFaltaHoraAnoBasica</div>
    <div class="barra barra-quinta-ano-valor-falta-horas-parte-diversificada">@ViewBag.Ano5QtdFaltaHoraAnoParte</div>
    <div class="barra barra-quinta-ano-valor-falta-horas-projeto-tempo-integral">@ViewBag.Ano5QtdFaltaHoraAnoProjeto</div>
    <div class="barra barra-rotacionada barra-quinta-ano-valor-total-ch-curricular">@ViewBag.Ano5Totalchcurricular</div>
    <div class="barra barra-rotacionada barra-quinta-ano-valor-total-faltas-horas">@ViewBag.Ano5TotalFaltasHoras</div>
    <div class="barra barra-rotacionada barra-quinta-ano-valor-total-situacao-aluno">@ViewBag.Ano5SituacaoAluno</div>


    <div class="barra barra-rodape-ciclo">CICLO</div>
    <div class="barra barra-rodape-fase-introdutoria">Fase Introdutória</div>
    <div class="barra barra-rodape-fase-1">Fase I</div>
    <div class="barra barra-rodape-fase-2">Fase II</div>
    <div class="barra barra-rodape-fase-3">Fase III</div>
    <div class="barra barra-rodape-fase-4">Fase IV</div>

    <div class="barra barra-rodape-primeiro-ano">1º ano</div>
    <div class="barra barra-rodape-segundo-ano">2º ano</div>
    <div class="barra barra-rodape-terceiro-ano">3º ano</div>
    <div class="barra barra-rodape-quarto-ano">4º ano</div>
    <div class="barra barra-rodape-quinto-ano">5º ano</div>

    <div class="barra barra-rodape-ano">ANO</div>
    <div class="barra barra-rodape-valor-primeiro-ano">@ViewBag.Ano1AnoHistorico</div>
    <div class="barra barra-rodape-valor-segundo-ano">@ViewBag.Ano2AnoHistorico</div>
    <div class="barra barra-rodape-valor-terceiro-ano">@ViewBag.Ano3AnoHistorico</div>
    <div class="barra barra-rodape-valor-quarto-ano">@ViewBag.Ano4AnoHistorico</div>
    <div class="barra barra-rodape-valor-quinto-ano">@ViewBag.Ano5AnoHistorico</div>

    <div class="barra barra-rodape-dias-letivos">DIAS LETIVOS</div>
    <div class="barra barra-rodape-valor-dias-letivos-primeiro-ano">@ViewBag.Ano1DiasLetivos</div>
    <div class="barra barra-rodape-valor-dias-letivos-segundo-ano">@ViewBag.Ano2DiasLetivos</div>
    <div class="barra barra-rodape-valor-dias-letivos-terceiro-ano">@ViewBag.Ano3DiasLetivos</div>
    <div class="barra barra-rodape-valor-dias-letivos-quarto-ano">@ViewBag.Ano4DiasLetivos</div>
    <div class="barra barra-rodape-valor-dias-letivos-quinto-ano">@ViewBag.Ano5DiasLetivos</div>


    <div class="barra barra-rodape-estabelecimento">ESTABELECIMENTO</div>
    <div class="barra barra-rodape-valor-estabelecimento-primeiro-ano">@ViewBag.Ano1EscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-estabelecimento-segundo-ano">@ViewBag.Ano2EscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-estabelecimento-terceiro-ano">@ViewBag.Ano3EscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-estabelecimento-quarto-ano">@ViewBag.Ano4EscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-estabelecimento-quinto-ano">@ViewBag.Ano5EscolaAnoAluno</div>


    <div class="barra barra-rodape-municipio-estado">MUNICIPIO/ESTADO</div>
    <div class="barra barra-rodape-valor-municipio-estado-primeiro-ano">@ViewBag.Ano1CidadeEscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-municipio-estado-segundo-ano">@ViewBag.Ano2CidadeEscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-municipio-estado-terceiro-ano">@ViewBag.Ano3CidadeEscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-municipio-estado-quarto-ano">@ViewBag.Ano4CidadeEscolaAnoAluno</div>
    <div class="barra barra-rodape-valor-municipio-estado-quinto-ano">@ViewBag.Ano5CidadeEscolaAnoAluno</div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer class="rodape-historico">
    <div class="rodape-corpo-esquerdo">
        
        <span class="assinatura-historico">Assinatura do(a) Secretário(a) nº reg. ou aut.</span><br />
        *Maria Arleia Moraes Carvalho**258906*
    </div>
    <div class="rodape-corpo-centro">
        <br />
        MACHADO, *@ViewBag.DateHistorico*<br />
        Municipio e data de expedição
    </div>
    <div class="rodape-corpo-direito">
        
        <span class="assinatura-historico">Assinatura do(a) Secretário(a) nº reg. ou aut.</span><br />
        *Katia Maria da Silva* - *416775*
    </div>
</footer>

@Styles.Render("~/Content/Relatorio/EstiloHistorico.css")