@model GestaoEscolar.Models.Escola

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading font-form">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Escola</strong>
</div>


<div class="panel-body panel-scroll font-form">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong><span class="fa fa-minus"></span><span>&nbsp;</span>Dados Principais</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.NomeEscola)</label><br />
                        @Html.TextBoxFor(model => model.NomeEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Cnpj)</label><br />
                        @Html.TextBoxFor(model => model.Cnpj, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.NomeGestor)</label><br />
                        @Html.TextBoxFor(model => model.NomeGestor, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.CargoGestor)</label><br />
                        @Html.TextBoxFor(model => model.CargoGestor, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong><span class="fa fa-minus"></span><span>&nbsp;</span>Dados de Endereço</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.CidadeEscola)</label><br />
                        @Html.TextBoxFor(model => model.CidadeEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.UfEscola)</label><br />
                        @Html.TextBoxFor(model => model.UfEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.CepEscola)</label><br />
                        @Html.TextBoxFor(model => model.CepEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.EndEscola)</label><br />
                        @Html.TextBoxFor(model => model.EndEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.NumeroEndEscola)</label><br />
                        @Html.TextBoxFor(model => model.NumeroEndEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.BairroEndEscola)</label><br />
                        @Html.TextBoxFor(model => model.BairroEndEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.ComplementoEndEscola)</label><br />
                        @Html.TextBoxFor(model => model.ComplementoEndEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.DistritoEscola)</label><br />
                        @Html.TextBoxFor(model => model.DistritoEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong><span class="fa fa-minus"></span><span>&nbsp;</span>Dados de Contato</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.TelefoneEscola)</label><br />
                        @Html.TextBoxFor(model => model.TelefoneEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.FaxEscola)</label><br />
                        @Html.TextBoxFor(model => model.FaxEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.EmailEscola)</label><br />
                        @Html.TextBoxFor(model => model.EmailEscola, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>

