@model GestaoEscolar.Models.Funcionario

<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        }
    })
</script>

<div class="panel-body panel-scroll">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Vinculação
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="editor-label">
                <i class="fa fa-asterisk text-danger"></i>
                <strong>Escola</strong>
            </div>
            <div class="editor-field">
                @Html.DropDownList("EscolaId", (SelectList)ViewBag.EscolaId, "SELECIONE A ESCOLA", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EscolaId)
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.DataAdimissaoFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataAdimissaoFuncionario, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataAdimissaoFuncionario)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        <strong>Cargo</strong>
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("TipoFuncionarioId", (SelectList)ViewBag.TipoFuncionarioId, "SELECIONE O CARGO", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoFuncionarioId)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados Pessoais
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumRegistroFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NumRegistroFuncionario, new { @class = " form-control , upper", @placeholder = "Numero do registro" })
                        @Html.ValidationMessageFor(model => model.NumRegistroFuncionario)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.NomeFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NomeFuncionario, new { @class = " form-control , upper", @placeholder = "Nome Completo do Funcionário" })
                        @Html.ValidationMessageFor(model => model.NomeFuncionario)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.DataNascimentoFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataNascimentoFuncionario, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataNascimentoFuncionario)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SexoFuncionario)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="SexoFuncionario" id="SexoFuncionario">
                            <option value="">Selecione..</option>
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMININO</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.SexoFuncionario)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CpfFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CpfFuncionario, new { @class = " form-control", @placeholder = "CPF do Funcionario" })
                        @Html.ValidationMessageFor(model => model.CpfFuncionario)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RgFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RgFuncionario, new { @class = " form-control", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.RgFuncionario)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UfRgFuncionario)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="UfRgFuncionario" id="UfRgFuncionario">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.UfRgFuncionario)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OrgaoRgFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.OrgaoRgFuncionario, new { @class = " form-control", @placeholder = "Nome Completo do aluno" })
                        @Html.ValidationMessageFor(model => model.OrgaoRgFuncionario)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataEmissaoRgFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataEmissaoRgFuncionario, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataEmissaoRgFuncionario)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados de Endereço
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CidadeEndFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CidadeEndFuncionario, new { @class = " form-control , upper", @placeholder = "Digite Cidade " })
                        @Html.ValidationMessageFor(model => model.CidadeEndFuncionario)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UfEndFuncionario)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="UfEndFuncionario" id="UfEndFuncionario">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LogradouroEndFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LogradouroEndFuncionario, new { @class = " form-control , upper", @placeholder = "Praça, Rua, Avenida " })
                        @Html.ValidationMessageFor(model => model.LogradouroEndFuncionario)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumLogradouroEndFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NumLogradouroEndFuncionario, new { @class = " form-control", @placeholder = "Ex: 111" })
                        @Html.ValidationMessageFor(model => model.NumLogradouroEndFuncionario)
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BairroEndFuncionario)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BairroEndFuncionario, new { @class = " form-control , upper", @placeholder = "Bairro " })
                        @Html.ValidationMessageFor(model => model.BairroEndFuncionario)
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
