@model GestaoEscolar.Models.Funcionario

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    jQuery(function ($) {
        $("#DataNascimentoFuncionario").mask("99/99/9999");
        $("#DataEmissaoRgFuncionario").mask("99/99/9999");
        $("#DataAdimissaoFuncionario").mask("99/99/9999");
    });

    $(function () {
        $('#SexoFuncionario').val("@Model.SexoFuncionario");
        $('#UfRgFuncionario').val("@Model.UfRgFuncionario");
        $('#UfEndFuncionario').val("@Model.UfEndFuncionario");
        $('#EscolaId').val("@Model.EscolaId");
        $('#TipoFuncionarioId').val("@Model.TipoFuncionarioId");

        document.getElementById("EscolaId").disabled = true;
        document.getElementById("DataAdimissaoFuncionario").disabled = true;
        document.getElementById("TipoFuncionarioId").disabled = true;
        document.getElementById("NumRegistroFuncionario").disabled = true;
        document.getElementById("NomeFuncionario").disabled = true;
        document.getElementById("DataNascimentoFuncionario").disabled = true;
        document.getElementById("SexoFuncionario").disabled = true;
        document.getElementById("CpfFuncionario").disabled = true;
        document.getElementById("RgFuncionario").disabled = true;
        document.getElementById("UfRgFuncionario").disabled = true;
        document.getElementById("OrgaoRgFuncionario").disabled = true;
        document.getElementById("DataEmissaoRgFuncionario").disabled = true;
        document.getElementById("CidadeEndFuncionario").disabled = true;
        document.getElementById("UfEndFuncionario").disabled = true;
        document.getElementById("LogradouroEndFuncionario").disabled = true;
        document.getElementById("NumLogradouroEndFuncionario").disabled = true;
        document.getElementById("BairroEndFuncionario").disabled = true;
    });

    

</script>

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Funcionário</strong>
</div>


@Html.Partial("_PartialFormFuncionario");


<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>
