@model GestaoEscolar.Models.Funcionario

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    jQuery(function ($) {
        $("#DataNascimentoFuncionario").mask("99/99/9999");
        $("#DataEmissaoRgFuncionario").mask("99/99/9999"); 
        $("#DataAdimissaoFuncionario").mask("99/99/9999");
    });
</script>

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Funcionário</strong>
</div>

<div class="panel-body panel-scroll font-form">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong><span class="fa fa-plus"></span><span>&nbsp;</span>Dados do Funcionário</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <strong>@Html.DisplayNameFor(model => model.Escola.NomeEscola)</strong><br />
                    @Html.TextBoxFor(model => model.Escola.NomeEscola, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-12">
                    <strong>@Html.DisplayNameFor(model => model.TipoFuncionario.DescricaoFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.TipoFuncionario.DescricaoFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.NumRegistroFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.NumRegistroFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-9">
                    <strong>@Html.DisplayNameFor(model => model.NomeFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.NomeFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.DataNascimentoFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.DataNascimentoFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-6">
                    <strong>@Html.DisplayNameFor(model => model.CidadeEndFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.CidadeEndFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.UfEndFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.UfEndFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.LogradouroEndFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.LogradouroEndFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.NumLogradouroEndFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.NumLogradouroEndFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.DataAdimissaoFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.DataAdimissaoFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.CpfFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.CpfFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.RgFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.RgFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.UfRgFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.UfRgFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.OrgaoRgFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.OrgaoRgFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
                <div class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.DataEmissaoRgFuncionario)</strong><br />
                    @Html.TextBoxFor(model => model.DataEmissaoRgFuncionario, new { @class = "form-control", @disabled = "true" })<br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>
