@model IEnumerable<GestaoEscolar.Models.Conceito>
@{
    ViewBag.Title = "NotaAluno";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    $(function () {
        $('#periodo').val("@ViewBag.Periodo");
        $('#AtitVal').val("@ViewBag.AtitVal");
        $('#CompAssid').val("@ViewBag.CompAssid");
        $('#CriCriti').val("@ViewBag.CriCriti");
        $('#PartFamilia').val("@ViewBag.PartFamilia");

    });

</script>

<div class="panel panel-heading">
    <strong><span class="glyphicon glyphicon-cog"></span><span>&nbsp;</span>Conceito do Aluno</strong>
</div>



<div class="panel-body">

    <a class="btn btn-block btn-success" title="Boletim" href="@Url.Action("ConceitoAluno", "Conceito", new {turmaId = ViewBag.TurmaId, periodo = ViewBag.Periodo, alunoId = ViewBag.MatriculaId})">
        <div>
            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Novo Conceito
        </div>
    </a>

    <table class="table table-bordered table-hover table-responsive">
        <thead>
            @using (@Html.BeginForm("NotaAluno", "Conceito", FormMethod.Get))
            {
                @Html.Hidden("AlunoId")

                <tr>
                    <th colspan="2">
                        <h4>Aluno: @ViewBag.NomeAluno</h4>
                        <h5>Turma: @ViewBag.Turma</h5>
                    </th>
                    <th colspan="1">
                        <div class="">
                            <h5 class="control-label">Selecione o Bimestre:</h5>
                            <select id="periodo" class="form-control" name="periodo" onchange="this.form.submit(); ">
                                <option value="1">1º Bimestre</option>
                                <option value="2">2º Bimestre</option>
                                <option value="3">3º Bimestre</option>
                                <option value="4">4º Bimestre</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <a class="btn btn-block btn-default" title="Boletim" href="@Url.Action("GerarHistoricoAluno", "HistoricoAluno", new {id = ViewBag.AlunoId})">
                            <div>
                                <i class="fa fa-list fa-fw text-danger" aria-hidden="true"></i>Gerar Historico
                            </div>
                        </a>
                        <br />

                        <a class="btn btn-block btn-default" title="Boletim" href="@Url.Action("Boletim", "Relatorio", new {id = ViewBag.AlunoId, periodo = ViewBag.Periodo})">
                            <div>
                                <i class="fa fa-list fa-fw text-danger" aria-hidden="true"></i>Gerar Boletim
                            </div>
                        </a>
                    </th>
                    <th>
                        <strong>
                            TOTAL<br /> FALTAS
                        </strong>
                        <input class="form-control" type="text" title="totalfalta" />
                    </th>
                </tr>
                <tr>
                    <td colspan="1">
                        <strong>
                            ATITUDES E VALORES
                        </strong><hr />
                        <div class="text-center">
                            @ViewBag.AtitVal
                        </div>
                    </td>
                    <td colspan="1">
                        <strong>
                            COMPROMISSO/ASSIDUIDADE
                        </strong><hr />
                        <div class="text-center">
                            @ViewBag.CompAssid
                        </div>
                    </td>
                    <td colspan="1">
                        <strong>
                            CRIATIVIDADE/CRITICIDADE
                        </strong><hr />
                        <div class="text-center">
                            @ViewBag.CriCriti
                        </div>
                    </td>
                    <td>
                        <strong>
                            PARTICIPACAO DA FAMILIA
                        </strong><hr />
                        <div class="text-center">
                            @ViewBag.PartFamilia
                        </div>
                    </td>
                    <td class="col-sm-2" colspan="1">
                        @if (ViewBag.Formacao != null)
                        {
                            <a class="btn btn-block btn-success" title="Boletim" href="@Url.Action("ConceitoAluno", "Conceito", new {turmaId = ViewBag.TurmaId, periodo = ViewBag.Periodo, alunoId = ViewBag.MatriculaId})">
                                <div>
                                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Adicionar Formação
                                </div>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-block btn-success" title="Formacao" href="@Url.Action("Editar", "ConceitoFormacao", new {id = ViewBag.FormConId, alunoId = ViewBag.MatriculaId, periodo = ViewBag.Periodo })">
                                <div>
                                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Editar Formação
                                </div>
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        Disciplina
                    </th>
                    <th>
                        Conceito
                    </th>
                    <th>
                        Faltas
                    </th>

                    <th>
                        AÇÕES
                    </th>

                </tr>
            }
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int p = 0;
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
                    </td>
                    @switch (p = Convert.ToInt32(ViewBag.Periodo))
                {
                    case 1:
                            <td>
                                @Html.DisplayFor(modelItem => item.Conceito1Bim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Faltas1Bim)
                            </td>
                            break;
                        case 2:
                            <td>
                                @Html.DisplayFor(modelItem => item.Conceito2Bim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Faltas2Bim)
                            </td>
                            break;
                        case 3:
                            <td>
                                @Html.DisplayFor(modelItem => item.Conceito3Bim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Faltas3Bim)
                            </td>
                            break;
                        case 4:
                            <td>
                                @Html.DisplayFor(modelItem => item.Conceito4Bim)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Faltas4Bim)
                            </td>
                            break;
                    }

                    <td>
                        <a class="btn btn-default" title="Editar" href="@Url.Action("ConceitoAluno", "Conceito", new {turmaId = item.Matricula.TurmaId, disciplinaId = item.DisciplinaId, periodo = ViewBag.Periodo, alunoId = item.Matricula.Id})">
                            <div>
                                <i class="fa fa-edit fa-fw text-danger" aria-hidden="true"></i>EDITAR
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
