<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><div class="text-center"><img src="~/Content/imagens/logo.png" style="width: 140px" />@*<i class="fa fa-home fa-2x fa-fw text-info" aria-hidden="true"></i>*@</div></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center"><i class="fa fa-cogs fa-2x fa-fw text-link" aria-hidden="true"></i><br />ADMINISTRAÇÃO</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","Escola")">ESCOLA</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index","Funcionario")">PROFISSIONAL</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index","TipoFuncionario")">CARGO</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index","AnoLetivo")">ANO LETIVO</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index","Disciplina")">DISCIPLINA</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center"><i class="fa fa-bank fa-2x fa-fw text-link" aria-hidden="true"></i><br />TURMA</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","Turma")">GERENCIAR</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("GerenciarMatriculas","Matricula")">MATRICULA</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Aluno")" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center"><i class="fa fa-child fa-2x fa-fw text-link" aria-hidden="true"></i><br />ALUNO</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Relatorio")" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center"><i class="fa fa-file-text fa-2x fa-fw text-link" aria-hidden="true"></i><br />DOCUMENTOS</div>
                    </a>
                </li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center"><i class="fa fa-user fa-2x fa-fw text-success" aria-hidden="true"></i><br />@Html.Encode(User.Identity.Name)</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("LogOut", "Usuario")"><i class="fa fa-power-off fa-fw text-success" aria-hidden="true"></i>&nbsp; SAIR</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
