@model GestaoEscolar.Models.AnoLetivo

@{
    ViewBag.Title = "Cadastro Ano Letivo";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    $(function () {
        $('#MediaAno').val("B");
        $('#QtdDiasLetivosAno').val("200");
        $('#ChCurrBas').val("800,00");
        $('#ChCurrArt').val("33,20");
    });
</script>


<div class="panel panel-heading">
    <strong><span class="glyphicon glyphicon-plus-sign"></span><span>&nbsp;</span>Cadastro Ano Letivo</strong>
</div>

@using (Html.BeginForm(new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel-body panel-scroll">
        @Html.Partial("_PartialFormAnoLet");
    </div>

        <div class="panel panel-footer">
            <div class="row">
                <div class="col-sm-5">
                    <h5><strong>Atenção!</strong> O campo com <i class="fa fa-asterisk text-danger"></i>é obrigatório</h5>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <a class="btn btn-block btn-lg btn-danger" href="@Url.Action("Index")"><span class="glyphicon glyphicon-remove"></span>Cancelar</a>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-block btn-lg btn-success" value="Adicionar"><span class="glyphicon glyphicon-floppy-disk"></span>Salvar</button>
                </div>
            </div>
        </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
