@model IEnumerable<GestaoEscolar.Models.DisciplinaDoProfessorNaTurma>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <strong><span class="fa fa-cloud"></span><span>&nbsp;</span>Disciplinas da Turma</strong>
    </div>
    <div class="panel-body panel-scroll">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3">
                        <a href="@Url.Action("GerenciarDisciplinaTurma", "DisciplinaDoProfessorNaTurma", new { turmaId = ViewBag.Id })" class="btn btn-block btn-lg btn-success"><i class="fa fa-plus"></i><i>&nbsp;</i>Adicionar Disciplina</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        Disciplinas
                    </th>
                    <th>
                        Professor
                    </th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.NomeFuncionario)
                        </td>
                        <td>
                            <a class="btn btn-default" title="Editar" href="@Url.Action("Editar", "DisciplinaDoProfessorNaTurma", new { id = item.Id })">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a class="btn btn-primary btn-danger confirm" title="Excluir" href="@Url.Action("ExcluirDaTurma", "DisciplinaDoProfessorNaTurma", new { id = item.Id })">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            }

        </table>

    </div>
</div>

