@model GestaoEscolar.Models.Turma

<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        }
    })
</script>

<div class="row">
    <div class="col-sm-6">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.Escola.NomeEscola)
        </div>
        <div class="editor-field">
            @Html.DropDownList("EscolaId")
            @Html.ValidationMessageFor(model => model.EscolaId)
        </div>
    </div>
    <div class="col-sm-6">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.FuncionarioId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FuncionarioId")
            @Html.ValidationMessageFor(model => model.FuncionarioId)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.NomeTurma)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NomeTurma, new { @class = " form-control , upper", @placeholder = "Nome da turma" })
            @Html.ValidationMessageFor(model => model.NomeTurma)
        </div>
    </div>
    <div class="col-sm-3">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.Serie)
        </div>
        <div class="editor-field">
            <select class="form-control" name="Serie" id="Serie">
                <option value="PRE DE 4">PRE DE 4</option>
                <option value="PRE DE 5">PRE DE 5</option>
                <option value="1ANO">1º ANO</option>
                <option value="2ANO">2º ANO</option>
                <option value="3ANO">3º ANO</option>
                <option value="4ANO">4º ANO</option>
                <option value="5ANO">5º ANO</option>
            </select>
            @Html.ValidationMessageFor(model => model.Serie)
        </div>
    </div>
    <div class="col-sm-3">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.NivelTurma)
        </div>
        <div class="editor-field">
            <select class="form-control" name="NivelTurma" id="NivelTurma">
                <option value="FUNDAMENTAL">FUNDAMENTAL</option>
                <option value="OUTROS">OUTROS</option>
            </select>
            @Html.ValidationMessageFor(model => model.NivelTurma)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.HorarioFuncionamento)
        </div>
        <div class="editor-field">
            <select class="form-control" name="HorarioFuncionamento" id="HorarioFuncionamento">
                <option value="MATUTINO">MATUTINO</option>
                <option value="VESPERTINO">VESPERTINO</option>
                <option value="NOTURNO">NOTURNO</option>
            </select>
            @Html.ValidationMessageFor(model => model.HorarioFuncionamento)
        </div>
    </div>
    <div class="col-sm-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.ModalidadeEnsino)
        </div>
        <div class="editor-field">
            <select class="form-control" name="ModalidadeEnsino" id="ModalidadeEnsino">
                <option value="REGULAR">REGULAR</option>
            </select>
            @Html.ValidationMessageFor(model => model.ModalidadeEnsino)
        </div>
    </div>
    <div class="col-sm-4">
        <div class="editor-label">
            <i class="fa fa-asterisk text-danger"></i>
            @Html.LabelFor(model => model.QtdAlunos)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.QtdAlunos, new { @class = " form-control", @placeholder = "Número Alunos" })
            @Html.ValidationMessageFor(model => model.QtdAlunos)
        </div>
    </div>
</div>

