@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Turma</strong>
</div>

<div class="panel-body panel-scroll">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong><span class="glyphicon glyphicon-cloud"></span><span>&nbsp;</span>Detalhes da Turma</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nome Escola</label><br />
                        <input class="form-control" value="@ViewBag.Escola" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nome da Turma</label><br />
                        <input class="form-control" value="@ViewBag.NomeTurma" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Serie</label><br />
                        <input class="form-control" value="@ViewBag.Serie" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nivel da Turma</label><br />
                        <input class="form-control" value="@ViewBag.NivelTurma" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Turno de Funcionamento</label><br />
                        <input class="form-control" value="@ViewBag.HorarioFuncionamento" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Modalidade de Ensino</label><br />
                        <input class="form-control" value="@ViewBag.ModalidadeEnsino" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Quantidade de Alunos</label><br />
                        <input class="form-control" value="@ViewBag.QtdAlunos" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PartialListaDisciplina")

    
</div>

<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = ViewBag.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery.confirm.js"></script>
<script>
    $(".confirm").confirm({
        text: "Tem certeza que deseja excluir?",
        confirmButton: "Sim",
        cancelButton: "Não"
    });
</script>