@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script type="text/javascript">
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        }
    })    
</script>

<div class="panel panel-heading">
    <div class="row">
        <div class="col-sm-2">
            <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Turma</strong>
        </div>
        @Html.Partial("_MenuForm")
    </div>
</div>

<div class="panel-body panel-scroll">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Detalhes da Turma
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nome Escola</label><br />
                        <input class="form-control" value="@ViewBag.Escola" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nome da Turma</label><br />
                        <input class="form-control" value="@ViewBag.NomeTurma" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Serie</label><br />
                        <input class="form-control" value="@ViewBag.Serie" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nivel da Turma</label><br />
                        <input class="form-control" value="@ViewBag.NivelTurma" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Turno de Funcionamento</label><br />
                        <input class="form-control" value="@ViewBag.HorarioFuncionamento" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Modalidade de Ensino</label><br />
                        <input class="form-control" value="@ViewBag.ModalidadeEnsino" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Quantidade de Alunos</label><br />
                        <input class="form-control" value="@ViewBag.QtdAlunos" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PartialListaDisciplina")

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
