@model GestaoEscolar.Models.Aluno

<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        }
    })
</script>



<div class="panel-body panel-scroll">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados Pessoais
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body ">
            <div class="row">
                <div class="col-sm-6">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.Nome)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Nome, new { @class = " form-control , upper", @placeholder = "Nome Completo do aluno" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.DataNascimento)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataNascimento)
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="editor-label">
                        <i class="fa fa-asterisk text-danger"></i>
                        @Html.LabelFor(model => model.Sexo)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="Sexo" id="Sexo">
                            <option value=""></option>
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMININO</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.Sexo)
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NomePai)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NomePai, new { @class = " form-control , upper", @placeholder = "Nome do Pai" })
                        @Html.ValidationMessageFor(model => model.NomePai)
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NomeMae)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NomeMae, new { @class = " form-control , upper", @placeholder = "Nome da Mae" })
                        @Html.ValidationMessageFor(model => model.NomeMae)
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Situacao)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="Situacao" id="Situacao">
                            <option value="ATIVO">ATIVO</option>
                            <option value="INATIVO">INATIVO</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados Documentos
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Rg)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Rg, new { @class = "form-control", @placeholder = "SOMENTE NÚMERO" })
                        @Html.ValidationMessageFor(model => model.Rg)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OrgaoExpRg)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.OrgaoExpRg, new { @class = "form-control , upper" })
                        @Html.ValidationMessageFor(model => model.OrgaoExpRg)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UfRg)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="UfRg" id="UfRg">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.UfRg)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataExpRg)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataExpRg, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataExpRg)
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Cpf)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Cpf)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumeroNovaCertidaoCivil)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NumeroNovaCertidaoCivil, new { @class = "form-control", @placeholder = "SOMENTE NUMEROS" })
                        @Html.ValidationMessageFor(model => model.NumeroNovaCertidaoCivil)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DataEmissaoCertidao)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DataEmissaoCertidao, new { @class = "form-control ajuda-data" })
                        @Html.ValidationMessageFor(model => model.DataEmissaoCertidao)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados de Endereço
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnderecoResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.EnderecoResidencia, new { @class = "form-control , upper", @placeholder = "Ex: Rua Exemplo" })
                        @Html.ValidationMessageFor(model => model.EnderecoResidencia)
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumeroResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.NumeroResidencia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumeroResidencia)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ComplementoResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ComplementoResidencia, new { @class = "form-control , upper", @placeholder = "Ex: Fundos" })
                        @Html.ValidationMessageFor(model => model.ComplementoResidencia)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BairroResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BairroResidencia, new { @class = "form-control , upper", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.BairroResidencia)
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LocalZonaResidencia)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="LocalZonaResidencia" id="LocalZonaResidencia">
                            <option value="RURAL">RURAL</option>
                            <option value="URBANA">URBANA</option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CepResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CepResidencia, new { @class = "form-control", @placeholder = "8 NÚMEROS" })
                        @Html.ValidationMessageFor(model => model.CepResidencia)
                    </div>
                </div>

                <div class="col-sm-2">

                    <div class="editor-label">
                        <label for="UfResidencia">UF</label>
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="UfResidencia" id="UfResidencia">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CidadeResidencia)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CidadeResidencia, new { @class = "form-control , upper", @placeholder = "Cidade de residencia" })
                        @Html.ValidationMessageFor(model => model.CidadeResidencia)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados Responsaveis
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Responsavel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Responsavel, new { @class = " form-control , upper", @placeholder = "Nome do responsavel" })
                        @Html.ValidationMessageFor(model => model.Responsavel)
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ParentescoResponsavel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ParentescoResponsavel, new { @class = " form-control , upper", @placeholder = "Parentesco do Responsavel" })
                        @Html.ValidationMessageFor(model => model.ParentescoResponsavel)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nacionalidade)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Nacionalidade, new { @class = " form-control , upper", @placeholder = "Nacionalidade" })
                        @Html.ValidationMessageFor(model => model.Nacionalidade)
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PaisOrigem)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PaisOrigem, new { @class = " form-control , upper", @placeholder = "Pais de Origem" })
                        @Html.ValidationMessageFor(model => model.PaisOrigem)
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UfNaturalidade)
                    </div>
                    <div class="editor-field">
                        <select class="form-control" name="UfNaturalidade" id="UfNaturalidade">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Naturalidade)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Naturalidade, new { @class = " form-control , upper", @placeholder = "Cidade de Origem" })
                        @Html.ValidationMessageFor(model => model.Naturalidade)
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PessoaAutoBuscarAluno)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PessoaAutoBuscarAluno, new { @class = "form-control , upper", @placeholder = "Pessoa Auto Buscar Aluno" })
                        @Html.ValidationMessageFor(model => model.PessoaAutoBuscarAluno)
                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.HorDispReunioesPaisAluno)
                    </div>
                    <div class="editor-field">

                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.HorDispReunioesPaisAluno, "sim") &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.HorDispReunioesPaisAluno, "nao") &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.HorDispReunioesPaisAluno)
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Dados Adicionais
                <span class="pull-right clickable"><i class="fa fa-chevron-circle-up"></i></span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ProblemaSaudeAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.ProblemaSaudeAluno, "sim", new { @class = "ProblemaSaudeAluno" }) &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.ProblemaSaudeAluno, "nao", new { @class = "ProblemaSaudeAluno", @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.ProblemaSaudeAluno)
                    </div>
                </div>

                <div class="col-sm-9">
                    <div id="DivDescProblemaSaudeAluno">
                        <div class="editor-label ">
                            @Html.LabelFor(model => model.DescProblemaSaudeAluno)
                        </div>
                        <div class="editor-field ">
                            @Html.TextAreaFor(model => model.DescProblemaSaudeAluno, new { @class = "form-control , upper", @placeholder = "Descreva o problema de saúde do aluno" })
                            @Html.ValidationMessageFor(model => model.DescProblemaSaudeAluno)
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.MedicamentoUsadoAluno)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.MedicamentoUsadoAluno, new { @class = "form-control , upper", @placeholder = "Descreva os medicamentos que o aluno faz uso" })
                        @Html.ValidationMessageFor(model => model.MedicamentoUsadoAluno)
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AlergiasAluno)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AlergiasAluno, new { @class = "form-control , upper", @placeholder = "Descreva as alegias do aluno" })
                        @Html.ValidationMessageFor(model => model.AlergiasAluno)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RecursoParticipacaoProvas)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.RecursoParticipacaoProvas, new { @class = "form-control , upper", @placeholder = "Descreva os recursos para que o aluno possa realizar as provas" })
                        @Html.ValidationMessageFor(model => model.RecursoParticipacaoProvas)
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AcompFonoaudiologoAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.AcompFonoaudiologoAluno, "sim") &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.AcompFonoaudiologoAluno, "nao", new { @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.AcompFonoaudiologoAluno)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AcompPscicologoAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.AcompPscicologoAluno, "sim") &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.AcompPscicologoAluno, "nao", new { @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.AcompPscicologoAluno)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AcompApaeAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.AcompApaeAluno, "sim") &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.AcompApaeAluno, "nao", new { @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.AcompApaeAluno)
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DefFisicaAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.DefFisicaAluno, "sim", new { @class = "DefFisicaAluno" }) &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.DefFisicaAluno, "nao", new { @class = "DefFisicaAluno", @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.DefFisicaAluno)
                    </div>
                </div>

                <div class="col-sm-9">
                    <div id="DivDescDefFisicaAluno">
                        <div class="editor-label ">
                            @Html.LabelFor(model => model.DescDefFisicaAluno)
                        </div>
                        <div class="editor-field ">
                            @Html.TextAreaFor(model => model.DescDefFisicaAluno, new { @class = "form-control , upper", @placeholder = "Descreva a deficiência fisica do aluno" })
                            @Html.ValidationMessageFor(model => model.DescDefFisicaAluno)
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DefVisualAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.DefVisualAluno, "sim", new { @class = "DefVisualAluno" }) &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.DefVisualAluno, "nao", new { @class = "DefVisualAluno", @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.DefVisualAluno)
                    </div>
                </div>

                <div class="col-sm-9">
                    <div id="DivDescDefVisualAluno">
                        <div class="editor-label ">
                            @Html.LabelFor(model => model.DescDefVisualAluno)
                        </div>
                        <div class="editor-field ">
                            @Html.TextAreaFor(model => model.DescDefVisualAluno, new { @class = "form-control , upper", @placeholder = "Descreva a deficiência visual do aluno" })
                            @Html.ValidationMessageFor(model => model.DescDefVisualAluno)
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DefAuditivaAluno)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.DefAuditivaAluno, "sim", new { @class = "DefAuditivaAluno" }) &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.DefAuditivaAluno, "nao", new { @class = "DefAuditivaAluno", @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.DefAuditivaAluno)
                    </div>
                </div>

                <div class="col-sm-9">
                    <div id="DivDescDefAuditivaAluno">
                        <div class="editor-label ">
                            @Html.LabelFor(model => model.DescDefAuditivaAluno)
                        </div>
                        <div class="editor-field ">
                            @Html.TextAreaFor(model => model.DescDefAuditivaAluno, new { @class = "form-control , upper", @placeholder = "Descreva a deficiência auditiva do aluno" })
                            @Html.ValidationMessageFor(model => model.DescDefAuditivaAluno)
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AltaHabilidade)
                    </div>
                    <div class="editor-field">
                        <label class="btn btn-success">
                            @Html.RadioButtonFor(model => model.AltaHabilidade, "sim", new { @class = "AltaHabilidade" }) &nbsp;&nbsp;Sim&nbsp;&nbsp;
                        </label>
                        <label class="btn btn-danger">
                            @Html.RadioButtonFor(model => model.AltaHabilidade, "nao", new { @class = "AltaHabilidade", @checked = true }) &nbsp;&nbsp;Não&nbsp;&nbsp;
                        </label>
                        @Html.ValidationMessageFor(model => model.AltaHabilidade)
                    </div>
                </div>

                <div class="col-sm-9">
                    <div id="DivDescAltaHabilidade">
                        <div class="editor-label ">
                            @Html.LabelFor(model => model.DescAltaHabilidade)
                        </div>
                        <div class="editor-field ">
                            @Html.TextAreaFor(model => model.DescAltaHabilidade, new { @class = "form-control , upper", @placeholder = "Descreva as altas habilidades do aluno" })
                            @Html.ValidationMessageFor(model => model.DescAltaHabilidade)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>