@model GestaoEscolar.Models.Aluno

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    jQuery(function ($) {
        $("#IdentificacaoUnica").mask("999999");
        $("#DataNascimento").mask("99/99/9999");
        $("#Nis").mask("99999999999");
        $("#DataExpRg").mask("99/99/9999");
        $("#NumeroNovaCertidaoCivil").mask("999999-99-99-9999-9-99999-999-9999999-99");
        $("#DataEmissaoCertidao").mask("99/99/9999");
        $("#CepResidencia").mask("99999-999");
        $("#Cpf").mask("999.999.999-99");
        $("#TelPai").mask("(99)9999-9999");
        $("#TelMae").mask("(99)9999-9999");
    });

    $(function () {

        $('#EstadoCivilAluno').val("@Model.EstadoCivilAluno");
        $('#Situacao').val("@Model.Situacao");
        $('#Sexo').val("@Model.Sexo");
        $('#RacaCor').val("@Model.RacaCor");
        $('#Situacao').val("@Model.Situacao");
        $('#UfNaturalidade').val("@Model.UfNaturalidade");
        $('#LocalZonaResidencia').val("@Model.LocalZonaResidencia");
        $('#UfResidencia').val("@Model.UfResidencia");
        $('#UfRg').val("@Model.UfRg");
        $('#TipoCertidaoCivil').val("@Model.TipoCertidaoCivil");

        document.getElementById("Nome").disabled = true;
        document.getElementById("DataNascimento").disabled = true;
        document.getElementById("Sexo").disabled = true;
        document.getElementById("NomePai").disabled = true;
        document.getElementById("NomeMae").disabled = true;
        document.getElementById("Situacao").disabled = true;
        document.getElementById("Rg").disabled = true;
        document.getElementById("OrgaoExpRg").disabled = true;
        document.getElementById("UfRg").disabled = true;
        document.getElementById("DataExpRg").disabled = true;
        document.getElementById("Cpf").disabled = true;
        document.getElementById("NumeroNovaCertidaoCivil").disabled = true;
        document.getElementById("DataEmissaoCertidao").disabled = true;
    });
</script>

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Detalhe Aluno</strong>
</div>

<div class="panel-body">

    <div class="col-sm-3">
        <div class="row text-center">
            <span class="fa fa-5x fa-user-o"></span>
        </div>
        <hr />
        <div class="row">
            <a class="btn btn-block btn-primary" href="@Url.Action("DeclaracaoMatricula","Relatorio", new { id = Model.Id })"><span class="fa fa-list"></span><span>&nbsp;</span>Declaração de Matricula</a>
            <a class="btn btn-block btn-primary" href="@Url.Action("ListaHistoricoAluno","HistoricoAluno", new { id = Model.Id })"><span class="fa fa-list"></span><span>&nbsp;</span>Histórico do Aluno</a>
        </div>
    </div>
    <div class="col-sm-9 panel-scroll">
        @Html.Partial("_PartialFormAluno");
    </div>
</div>
<div class="panel panel-footer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>
