@model GestaoEscolar.Models.HistoricoAluno

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<script>
    jQuery(function ($) {
        $("#DataHistoricoAluno").mask("99/99/9999");
    });
</script>

<div class="panel panel-heading">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Detalhe do histórico Aluno</strong>
</div>

<div class="panel-body panel-scroll">

    <div class="row">
        <div class="col-sm-12">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Aluno.Nome)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.Aluno.Nome, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.TurmaAnoHistorico)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.TurmaAnoHistorico, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AnoHistoricoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AnoHistoricoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DataHistoricoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.DataHistoricoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EscolaAnoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.EscolaAnoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.CidadeEscolaAnoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.CidadeEscolaAnoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.UfEscolaAnoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.UfEscolaAnoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DiasLetivos)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.DiasLetivos, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.QtdFaltaHoraAnoBasica)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.QtdFaltaHoraAnoBasica, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ChCurricularBasica)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.ChCurricularBasica, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ChCurricularArtes)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.ChCurricularArtes, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovPortugues)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovPortugues, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovMatematica)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovMatematica, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovGeografia)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovGeografia, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovHistoria)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovHistoria, new { @class = "form-control", @disabled = "true" })
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovCiencia)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovCiencia, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovEduFisica)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovEduFisica, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovEnsReligioso)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovEnsReligioso, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovArte)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovArte, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovInformatica)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovInformatica, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovLitInfantilJuvenil)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovLitInfantilJuvenil, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovAtividadeLingMat)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovAtividadeLingMat, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovAtividadesEspMot)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovAtividadesEspMot, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.AprovFormacaoPessoal)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.AprovFormacaoPessoal, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.SituacaoAluno)
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.SituacaoAluno, new { @class = "form-control", @disabled = "true" })
            </div>
        </div>
    </div>

</div>

<div class="panel panel-footer">
    <div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <a class="btn btn-block btn-lg btn-default" href="@Url.Action("Index")"><span class="fa fa-reply"></span><span>&nbsp;</span>Voltar</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-lg btn-primary" href="@Url.Action("Editar", new { id = Model.Id })"><span class="fa fa-edit"></span><span>&nbsp;</span>Editar</a>
        </div>
    </div>
</div>