@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="panel panel-heading font-form">
    <strong><span class="fa fa-cog"></span><span>&nbsp;</span>Inicio do sistema</strong>
</div>
<div class="panel-body panel-scroll">
    @if (@ViewBag.Escola == false)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4><strong>Atenção!</strong> O primeiro passo é cadastrar a escola.</h4><br />
            <a href="@Url.Action("Adicionar", "Escola")" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-plus"></span>Cadastrar Escola</a>
        </div>
    }
    else if (@ViewBag.TipoFuncionario == false)
    {

        <div class=" alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4><strong>Atenção!</strong> O segundo passo é definir os tipos de profissionais.</h4><br />
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModalTipoFuncionario">Cadastrar Tipo Funcionario</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModalTipoFuncionario" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    @Html.Partial("_AddTipoFunc")
                </div>

            </div>
        </div>

    }
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","Escola")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-globe"></i><br />Escola</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","AnoLetivo")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-calendar"></i><br />Ano Letivo</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","Disciplina")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-graduation-cap"></i><br />Disciplina</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","Turma")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-group"></i><br />Turma</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","Funcionario")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-female"></i><br />Funcionário</h4></a>
        </div>
        <div class="col-sm-1">
        </div>        
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","TipoFuncionario")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-linkedin"></i><br />Cargo</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","Aluno")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-child"></i><br />Aluno</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("GerenciarMatriculas","Matricula")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-clipboard"></i><br />Matricula</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index","HistoricoAluno")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-book"></i><br />Histórico</h4></a>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("ListaAluno","Conceito")" class="btn btn-block btn-primary"><h4><i class="fa fa-3x fa-legal"></i><br />Conceito</h4></a>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

</div>


