@model GestaoEscolar.Models.Disciplina

<div class="row">
    <div class="col-sm-12">
        <div class="editor-label">
            @Html.LabelFor(model => model.NomeDisciplina)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NomeDisciplina, new { @class = " form-control , upper", @placeholder = "Nome da Disciplina" })
            @Html.ValidationMessageFor(model => model.NomeDisciplina)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.MaximoPontos)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MaximoPontos, new { @class = " form-control , upper", @placeholder = "Ex: A ou 10" })
            @Html.ValidationMessageFor(model => model.MaximoPontos)
        </div>
    </div>
    <div class="col-sm-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.MediaPontos)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MediaPontos, new { @class = " form-control , upper", @placeholder = "Ex: A ou 10" })
            @Html.ValidationMessageFor(model => model.MediaPontos)
        </div>
    </div>
    <div class="col-sm-4">
        <div class="editor-label">
            @Html.LabelFor(model => model.MinimoPonto)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MinimoPonto, new { @class = " form-control , upper", @placeholder = "Ex: A ou 10" })
            @Html.ValidationMessageFor(model => model.MinimoPonto)
        </div>
    </div>
</div>
