@model PagedList.IPagedList<GestaoEscolar.Models.Disciplina>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLista.cshtml";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>
            <a href="@Url.Action("Adicionar", "Disciplina")" class="btn btn-block btn-lg btn-success"><span class="fa fa-plus"></span><span>&nbsp;</span>Nova Disciplina</a>
        </p>
        <div class="panel panel-success">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Disciplinas Cadastradas</h4>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>
                        Disciplina
                    </th>

                    <th>
                        AÇÕES
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeDisciplina)
                        </td>

                        <td>
                            <a class="btn btn-default" title="Editar" href="@Url.Action("Editar", "Disciplina", new { id = item.Id })">
                                <span class="fa fa-edit"></span>
                            </a>

                            <a class="btn btn-default" title="Detalhes" href="@Url.Action("Detalhes", "Disciplina", new { id = item.Id })">
                                <span class="fa fa-list-alt"></span>
                            </a>

                            <a class="btn btn-primary btn-danger confirm" title="Excluir" href="@Url.Action("Excluir", "Disciplina", new { id = item.Id })">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>

                    </tr>
                }

            </table>
            <div class="panel-footer">
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.confirm.js"></script>
<script>
    $(".confirm").confirm({
        text: "Tem certeza que deseja excluir?",
        confirmButton: "Sim",
        cancelButton: "Não"
    });
</script>
